[submodule "themes/gallery"]
	path = themes/gallery
	url = https://github.com/nicokaiser/hugo-theme-gallery
[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
